*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    list-style: none;
    color: white;
}


body{
    background-color: black;
    overflow-x: hidden;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}